#contactSection {
  height: calc(100vh-4rem);
  width: 100vw;
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.contactTitle {
  font-size: 3rem;
  margin-top: 3rem;
}

.contactDesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}

.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 65rem;
}

.name, .email, .msg {
  font-size: medium;
  background-color: rgb(40, 40, 40);
  color: white;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}

.submitBtn {
  background: white;
  padding: 0.5rem 3.5rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
}

.links {
  margin: 2rem;
}

.link {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin: 0 0.75rem;
  cursor: pointer;
}