#workSection {
  height: calc(100vh-4rem);
  width: 100vw;
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.worksTitle {
  font-size: 3rem;
  margin: 1rem;
}

.workDescription {
  font-size: 1rem;
  font-weight: 300;
}

.workImgs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 65rem;
  margin-top: 2rem;
  cursor: pointer;
}

.worksImg {
  object-fit: cover;
  height: 20rem;
  margin: 0.5rem;
  width: 16rem;
}

.hoverWorkImg {
  background: white;
  color: black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}

.projectTitle {
  margin-left: 1rem;
  margin-top: -20%;
  color: rgb(30,30,30);
  font-weight: 500;
}

.projectDesc {  
  font-weight: 500;
  font-size: 13px;
}

.contactMe {
  color: yellow;
}